.info-con {
    width: 400px;
    height: 400px;
    float: left;
    border-radius: 15px;
    margin-top: 180px;
    box-shadow: 0px 0px 5px 5px #eee;
}
.info-img {
    text-align: center;
}
.info-img img {
    margin-top: -60px;

}
.info-name {
    color: #4a4a4a;
    font-size: 24px;
    line-height: 1;
    text-align: center;
}
.info-email {
    color: #9b9b9b;
    font-size: 12px;
    text-align: center;
    line-height: 0;
}
.info-edit-del {
    text-align: center;
}
.info-edit {
    margin-right: 20px;
    cursor: pointer;
}
.der-line {
    width: 340px;
    height: 3px;
    background: rgb(245, 248, 250);
    margin-left: 30px;
}
.info-role-team {
    padding: 20px 50px;
    height: 70px;
    font-size: 14px;
    color: rgb(112, 107, 136);
}
.info-role {
    width: 60%;
    height: 100%;
    float: left;
}
.info-team {
    width: 40%;
    height: 100%;
    float: left;
}
.info-title {
    font-size: 12px;
    font-weight: bold;
    line-height: 0;
}
.share-btn {
    width: 340px;
    margin: 10px 30px;
    height: 50px;
    background: rgb(153, 153, 153);
    color: white;
    border-radius: 15px;
}