.item-con {
    width: 360px;
    height: 80px;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px 5px #eee;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 0.8;
    cursor: pointer;
}
.item-img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}
.item-name {
    color: rgb(112, 107, 136);
    font-weight: bold;
}
.item-role {
    color: rgb(112, 107, 136);
}
.item-team {
    color: #999;
}
.admin-title {
    margin: 30px 0 10px 0;
    padding: 0 20px;
    color: rgb(112, 107, 136);
}
